@using System.Web.Optimization;
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "RecoverPassword";
}
@model Proiect_TW.Web.Models.Users.UserRecoverPassword

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <a href="index.html">
                                <span><img src="assets/images/logo-light.png" alt="" height="22"></span>
                            </a>
                            <p class="text-muted mb-4 mt-3">Enter your email address and we'll send you an email with instructions to reset your password.</p>
                        </div>
                        @Html.ValidationSummary(true)
                        @using (Html.BeginForm("RecoverPassword", "Login", FormMethod.Post, new { @id = "RecoverPassword" }))
                        {
                            @Html.AntiForgeryToken()
                      <form action="/" id="RecoverPassword" novalidate method="post">

                        <div class="form-group mb-3">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new
                       {
                           placeholder = "example@gmail.com",
                           title = "Please enter your email",
                           value = "",
                           name = "email",
                           @class = "form-control"
                       })
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Username, new
                       {
                           placeholder = "Username",
                           title = "Please enter your username",
                           value = "",
                           name = "username",
                           @class = "form-control"
                       })
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Password, new
                       {
                           placeholder = "Password",
                           title = "Please enter your password",
                           value = "",
                           name = "password",
                           @class = "form-control"
                       })
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(m => m.RepeatPassword, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.RepeatPassword, new
                       {
                           placeholder = "RepeatPassword",
                           title = "Please repeat your password",
                           value = "",
                           name = "repeatpassword",
                           @class = "form-control"
                       })
                        </div>

                        <div class="form-group mb-0 text-center">
                            <button class="btn btn-primary btn-block" type="submit"> Reset Password </button>
                        </div>

                    </form>
                        }
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Back to <a href="pages-login.html" class="text-muted font-weight-medium ml-1">Log in</a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
