@using System.Web.Optimization;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var product = ViewBag.SingleProduct;
}
@model Proiect_TW.Web.Models.Users.AddProductToShoppingCart


<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Single Product Page</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Product Area Starts ***** -->
<section class="section" id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-images">
                    <img src="/assets/ProductsImages/@product.ImagesPath[0]" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content-single-product">
                    <h4 class="margin-single-product">@product.Title</h4>
                    <span class="margin-single-product">
                        @product.Description
                    </span>
                    <div class="quote">
                        <i class="fa fa-quote-left margin-single-product"></i><p class="right-content-single-product">Fashion is a statement of self. Dress to express who you are, not to impress others.</p>
                    </div>
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm("SingleProduct", "Products", FormMethod.Post, new { @id = "AddShoppingCart" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="quantity-content">
                            <div class="form-group row align-items-center d-flex">
                                <div class="col-6">
                                    <h6 class="margin-single-product">Available Sizes: </h6>
                                </div>
                                <div class="col-5">
                                    @Html.DropDownListFor(m => m.Size, new SelectList(product.Sizes), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center d-flex">
                                <div class="col-6">
                                    <h6 class="margin-single-product">No. of Items: </h6>
                                </div>
                                <div class="col-5">
                                    @Html.DropDownListFor(m => m.Count, new SelectList(new[]
                                    {
                                        "1",
                                        "2",
                                        "3",
                                        "4",
                                        "5",
                                        "6",
                                        "7",
                                        "8",
                                        "9",
                                        "10",
                                    }), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.Title, new { Value = @product.Title })
                        <div class="total row align-items-center">
                            <div class="col-6">
                                <h4 class="margin-single-product">Price: $@product.Price</h4>
                            </div>
                            <div class="col-6 text-right">
                                <button class="right-content main-border-button margin-single-product" type="submit">Add To Cart</button>
                            </div>
                        </div>
                    }




                </div>
            </div>
        </div>
        <div class="row">
            @for (int i = 1; i < product.ImagesPath.Count; i++)
            {
                <div class="col-lg-2">
                    <img src="/assets/ProductsImages/@product.ImagesPath[i]" class="single-product-down-images" alt="">
                </div>
            }
        </div>
    </div>
</section>
<!-- ***** Product Area Ends ***** -->
