@using System.Web.Optimization;
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "AddProduct";
}
@model Proiect_TW.Web.Models.Users.AddProduct


<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="wrapper">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Add Product</a></li>
                        </ol>
                    </div>
                    <h4 class="page-title">Add Product</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="header-title">Input Types</h4>
                    <p class="sub-header">
                        <code>JPEG</code>, <code>PNG</code>
                    </p>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-2">
                                @Html.ValidationSummary(true)
                                @using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { @id = "LoginForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                                            @Html.TextBoxFor(m => m.Title, new
                                       {
                                           placeholder = "Add title...",
                                           title = "Please enter a title",
                                           value = "",
                                           name = "title",
                                           @class = "form-control"
                                       })
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                                            @Html.TextAreaFor(m => m.Description, new
                                                   {
                                                       placeholder = "Add description...",
                                                       title = "Please enter a description",
                                                       @class = "form-control",
                                                       rows = "6"
                                                   })
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Admin/Username</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" readonly="" value="admin123">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Admin/Email</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" disabled="" value="gheorghe.cristianisa.utm.md">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.Label("Product Type", new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-10">
                                                @Html.DropDownListFor(m => m.Type, new SelectList(new[]
                                                {
                                                    "Men's",
                                                    "Women's",
                                                    "Kid's",
                                                    "Accessories"
                                                }), new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.Label("Product Style", new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-10">
                                                @Html.DropDownListFor(m => m.Style, new SelectList(new[]
                                                {
                                                    "Casual Wear",
                                                    "Streetwear",
                                                    "Classic",
                                                    "Minimalist"
                                                }), new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.Label("Product Sizes", new { @class = "col-sm-2 col-form-label" })
                                            <div class="col-sm-10">
                                                @Html.ListBoxFor(m => m.Sizes, new MultiSelectList(new[]
                                                {
                                                    "XS",
                                                    "S",
                                                    "M",
                                                    "L",
                                                    "XL",
                                                    "XXL"
                                                }), new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <button type="submit" href="@Url.Action("Index", "Home")" class="btn btn-primary">Submit</button>

                                    </form>
                                }

                            </div>
                        </div>

                    </div>
                    <!-- end row -->

                </div> <!-- end card-box -->
            </div><!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title m-t-0">Dropzone File Upload</h4>
                        <p class="text-muted font-13 m-b-30">
                            DropzoneJS is an open source library that provides drag’n’drop file uploads with image previews.
                        </p>

                        <form action="/" method="post" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews"
                              data-upload-preview-template="#uploadPreviewTemplate">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>

                            <div class="dz-message needsclick">
                                <p class="h1 text-muted"><i class="mdi mdi-cloud-upload"></i></p>
                                <h3>Drop files here or click to upload.</h3>
                                <span class="text-muted font-13">
                                    (This is just a demo dropzone. Selected files are
                                    <strong>not</strong> actually uploaded.)
                                </span>
                            </div>
                        </form>

                        <!-- Preview -->
                        <div class="dropzone-previews mt-3" id="file-previews"></div>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card-->
            </div>
            <!-- end col-->
        </div>
        <!-- end row -->
        <!-- file preview template -->
        <div class="d-none" id="uploadPreviewTemplate">
            <div class="card mt-1 mb-0 shadow-none border">
                <div class="p-2">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img data-dz-thumbnail class="avatar-sm rounded bg-light" alt="">
                        </div>
                        <div class="col pl-0">
                            <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                            <p class="mb-0" data-dz-size></p>
                        </div>
                        <div class="col-auto">
                            <!-- Button -->
                            <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                <i class="mdi mdi-close-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- end container -->
</div>
<!-- end wrapper -->
<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
