@using System.Web.Optimization;
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "Products";
    var products = ViewBag.AllProducts;
}
@model Proiect_TW.Web.Models.Users.SearchSort

<div class="wrapper">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li><i class="fas fa-chevron-right icon-margin"></i></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Products</a></li>
                        </ol>
                    </div>
                    <h4 class="page-title">Products</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-8">
                            @Html.ValidationSummary(true)
                            @using (Html.BeginForm("Products", "Admin", FormMethod.Post, new { @id = "SearchSortForm" }))
                            {
                                @Html.AntiForgeryToken()
                            <div class="form-inline">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ProductTitle, "Search by title", new { @class = "control-label", style = "margin-right: 10px;" })
                                    @Html.TextBoxFor(m => m.ProductTitle, new
                                    {
                                        placeholder = "Search...",
                                        title = "Please enter the product Title",
                                        value = "",
                                        name = "Title",
                                        @class = "form-control",
                                        style = "margin-right: 10px;",
                                        autocomplete = "off"
                                    })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.SortOption, "Sort", new { @class = "control-label", style = "margin-right: 10px; margin-left: 10px;" })
                                    @Html.DropDownListFor(m => m.SortOption, new SelectList(new[]
                                    {
                                        "All",
                                        "Price",
                                        "Sold Items",
                                        "Sales Income",
                                        "Publish Time"
                                    }), new { @class = "form-control", style = "margin-right: 10px;" })
                                </div>
                                <button type="submit" class="btn btn-primary">Search/Sort</button>
                            </div>

                            }
                        </div>
                        <div class="col-lg-4">
                            <div class="text-lg-right mt-3 mt-lg-0">
                                <a href="@Url.Action("AddProduct", "Admin")" class="btn btn-success waves-effect waves-light mr-1"><i class="fa fa-plus"></i> Add New Product</a>
                            </div>
                        </div><!-- end col-->
                    </div> <!-- end row -->
                </div> <!-- end card-box -->
            </div><!-- end col-->
        </div>
        <!-- end row -->
        <div class="row">
            @for (int i = 0; i < products.Count; i++)
            {
                <div class="col-md-4">
                    <div class="card-box">
                        <div class="text-center">
                            <img src="/assets/ProductsImages/@products[i].ImagesPath[0]" alt="logo" class="avatar-xl rounded-circle mb-3">
                            <h4 class="mb-1">@($"{products[i].Title}")</h4>
                            <p class="text-muted">@($"Type: {products[i].Type}, Style: {products[i].Style}")</p>
                        </div>

                        <p class="font-14 text-center text-muted">
                            @if (products[i].Description.Length > 30)
                            {
                                @($"{products[i].Description.Substring(0, 30)} ...")
                            }
                            else
                            {
                                @products[i].Description
                            }
                        </p>

                        <div class="text-center">
                            <a href="@Url.Action("SigleProduct", "Home")" class="btn btn-sm btn-secondary">View more info</a>
                            <a href="@Url.Action("Products", "Admin" , new { button = products[i].Title })" class="btn btn-sm btn-secondary">Delete Product</a>
                        </div>

                        <div class="row mt-5 text-center">
                            <div class="col-4">
                                <h5 class="font-weight-normal text-muted">Sales Income</h5>
                                <h3 class="m-b-30">260 cr</h3>
                            </div>
                            <div class="col-4">
                                <h5 class="font-weight-normal text-muted">Item Price</h5>
                                <h3 class="m-b-30">@($"${products[i].Price}")</h3>
                            </div>
                            <div class="col-4">
                                <h5 class="font-weight-normal text-muted">Sold items</h5>
                                <h3 class="m-b-30">3.1k</h3>
                            </div>
                        </div>

                        <div id="company-1" class="text-center"></div>

                    </div>
                </div><!-- end col -->
            }
        </div>
        <!-- end row -->
        <!-- Modal -->
        <div id="custom-modal" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.modal.close();">
                <span>&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="custom-modal-title">Add Company</h4>
            <div class="custom-modal-text text-left">
                <form>
                    <div class="form-group">
                        <label for="name">Company Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter company name">
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" placeholder="Enter location">
                    </div>
                    <div class="form-group">
                        <label for="about-details">About </label>
                        <textarea class="form-control" id="about-details" rows="3" placeholder="Enter about"></textarea>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                        <button type="button" class="btn btn-danger waves-effect waves-light m-l-10"
                                onclick="Custombox.modal.close();">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>


    </div> <!-- end container -->
</div>
<!-- end wrapper -->
