@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "Users";
    var users = ViewBag.AllUsers;

}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="wrapper">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li><i class="fas fa-chevron-right icon-margin"></i></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Users</a></li>
                        </ol>
                    </div>
                    <h4 class="page-title">Users</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">

                    <div class="text-center mb-2">
                        <div class="row">
                            <div class="col-md-6 col-xl-4">
                                <div class="card-box border">
                                    <h3>@users.TotalUsers</h3>
                                    <p class="text-uppercase mb-1 font-13 font-weight-medium">Total users</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card-box border">
                                    <h3 class="text-warning">@users.NewUsers</h3>
                                    <p class="text-uppercase mb-1 font-13 font-weight-medium">New users</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card-box border">
                                    <h3 class="text-success">@users.OnlineUsers</h3>
                                    <p class="text-uppercase mb-1 font-13 font-weight-medium">Online users</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100" cellspacing="0" id="tickets-table">
                        <thead class="bg-light">
                            <tr>
                                <th class="font-weight-medium">ID</th>
                                <th class="font-weight-medium">Username</th>
                                <th class="font-weight-medium">Email</th>
                                <th class="font-weight-medium">Orders Count</th>
                                <th class="font-weight-medium">LastIp</th>
                                <th class="font-weight-medium">LastLogin</th>
                                <th class="font-weight-medium">Register Time</th>
                                <th class="font-weight-medium">Last Login Time</th>
                                <th class="font-weight-medium">Action</th>
                            </tr>
                        </thead>

                        <tbody class="font-14">
                            @for (int i = 0; i < users.TotalUsers; i++)
                            {
                                <tr>
                                    <td><b>#@users.Users[i].Id</b></td>
                                    <td>
                                        <a class="text-dark">
                                                <i class="fas fa-user custom-color"></i>
                                            <span class="ml-2">@users.Users[i].Username</span>
                                        </a>
                                    </td>

                                    <td>
                                        @users.Users[i].Email
                                    </td>

                                    <td>
                                       123
                                    </td>

                                    <td>
                                        @users.Users[i].LastIp
                                    </td>

                                    <td>
                                        @{ if (users.Users[i].IsOnline == true)
                                            {
                                                <span class="badge badge-success">Online</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-secondary">Offline</span>
                                            }
                                        }
                                    </td>

                                    <td>
                                        @users.Users[i].RegisterTime
                                    </td>

                                    <td>
                                        @users.Users[i].LastLogin
                                    </td>

                                    <td>
                                        <div class="btn-group dropdown">
                                            <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-edit"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Edit User</a>
                                                <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->
