@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "UserProfile";
    var user = ViewBag.User;
}
@model Proiect_TW.Web.Models.Users.UProfileEdit
<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>@($"Hi {user.Username}")</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** About Area Starts ***** -->
<div class="about-us">
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="/assets/images/about-left-image.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Edit Your Profile Information</h2>
                        <span>Update your personal details and preferences to keep your profile up to date and ensure a personalized experience.</span>
                    </div>
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm("UserProfile", "Home", FormMethod.Post, new { @id = "ProfileEditForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-lg-10 profile-edit-input">
                                @Html.TextBoxFor(m => m.Email, new
                           {
                               placeholder = $"{user.Email}",
                               title = "Please enter your email",
                               value = "",
                               name = "email",
                               @class = "form-control"
                           })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 profile-edit-input">
                                @Html.TextBoxFor(m => m.Username, new
                            {
                                placeholder = $"{user.Username}",
                                title = "Please enter your username",
                                value = "",
                                name = "username",
                                @class = "form-control"
                            })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 profile-edit-input">
                                @Html.TextBoxFor(m => m.Age, new
                            {
                                placeholder = $"{user.Age}",
                                title = "Please enter your age",
                                value = "",
                                name = "age",
                                @class = "form-control"
                            })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 profile-edit-input">
                                    @Html.DropDownListFor(m => m.Gender, new SelectList(new[]
                               {
                                    "Male",
                                    "Female",
                               }), new { @class = "form-control" })
                            </div>
                            <div class="col-lg-2">
                                <fieldset>
                                    <button type="submit" href="@Url.Action("UserProfile", "Home")" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
                    </div>
        </div>
    </div>
   
</div>

