@{
    ViewBag.Title = "_Header";
    var user = ViewBag.User;
}

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="@Url.Action("Index", "Home")" class="logo">
                        <img src="/assets/images/logo.png" height="70">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Navigation Start ***** -->
                    <ul class="nav">
                        <li class="submenu">
                            <a href="@Url.Action("Index", "Home")#top">Home</a>
                            <ul>
                                <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")#men">Men's</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")#women">Women's</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")#kids">Kid's</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")#accessories">Accessories</a></li>
                            </ul>
                        </li>

                        <li class="submenu">
                            <a href="@Url.Action("Products", "Products", new { button = "AllProducts" })">Products</a>
                            <ul>
                                <li class="scroll-to-section"><a href="@Url.Action("Products", "Products" , new { button = "ForYou" })">For You</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Products", "Products" , new { button = "Men" })">Men's</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Products", "Products" , new { button = "Women" })">Women's</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Products", "Products" , new { button = "Kids" })">Kid's</a></li>
                                <li class="scroll-to-section"><a href="@Url.Action("Products", "Products" , new { button = "Accessories" })">Accessories</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                        <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")#explore">Explore</a></li>
                        @{
                            if (user == null)
                            {
                                <li><a href="@Url.Action("Login", "Login")"> Login </a></li>
                            }
                            else if ((int)user.Level == 1)
                            {
                                <li class="submenu">
                                    <a>
                                        <i class="fas fa-user custom-color"></i>
                                    </a>
                                    <ul>
                                        <li><a href="@Url.Action("UserProfile", "Home")">Profile</a></li>
                                        <li><a href="@Url.Action("Index", "Home" , new { button = "Logout" })">Logout</a></li>
                                        <li><a href="@Url.Action("Index", "Home",  new {button = "Register"})">Register</a></li>
                                        <li><a href="@Url.Action("Index", "Home", new {button = "RecoverPassword"})">ChangePassword</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShoppingCart", "Product")">
                                        <i class="fas fa-shopping-cart custom-color"></i>
                                    </a>
                                </li>
                            }
                            else if ((int)user.Level == 2)
                            {
                                <li class="submenu">
                                    <a>Admin</a>
                                    <ul>
                                        <li><a href="@Url.Action("AddProduct", "Admin")">Add Product</a></li>
                                        <li><a href="@Url.Action("Statistics", "Admin")">Statistics</a></li>
                                        <li><a href="@Url.Action("Users", "Admin")">Users</a></li>
                                        <li><a href="@Url.Action("Products", "Admin")">Products</a></li>
                                        <li><a href="@Url.Action("UsersFeedback", "Admin")">Users Feedback</a></li>

                                    </ul>
                                </li>
                                <li class="submenu">
                                    <a>
                                        <i class="fas fa-user custom-color"></i>
                                    </a>
                                    <ul>
                                        <li><a href="@Url.Action("UserProfile", "Home")">Profile</a></li>
                                        <li><a href="@Url.Action("Index", "Home" , new { button = "Logout" })">Logout</a></li>
                                        <li><a href="@Url.Action("Index", "Home",  new {button = "Register"})">Register</a></li>
                                        <li><a href="@Url.Action("Index", "Home", new {button = "RecoverPassword"})">ChangePassword</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("ShoppingCart", "Product")">
                                        <i class="fas fa-shopping-cart custom-color"></i>
                                    </a>
                                </li>
                            }
                        }
                    </ul>

                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
