
@{
    ViewBag.Title = "_Header";
}

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="@Url.Action("Index/", "Home")" class="logo">
                        <img src="/assets/images/logo.png" height="70">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Navigation Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")#men">Men's</a></li>
                        <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")#women">Women's</a></li>
                        <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")#kids">Kid's</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Pages</a>
                            <ul>
                                <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                                <li><a href="@Url.Action("Products", "Home")">Products</a></li>
                                <li><a href="@Url.Action("SingleProduct", "Home")">Single Product</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Features</a>
                            <ul>
                                <li><a href="#">Features Page 1</a></li>
                                <li><a href="#">Features Page 2</a></li>
                                <li><a href="#">Features Page 3</a></li>
                                <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")#explore">Explore</a></li>
                        <li><a href="@Url.Action("Login", "Login")"> Login </a></li>

                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Navigation End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
